.example-card {
  max-width: 400px;
  margin-top: 30px;
}
.center-content{
  text-align: -webkit-center;
}
.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-login {
  width: 100%;
}

